:root{
    --cor-primária:#b000d3;
    --cor-secundária:#c554e8;
    --cor-fundo:#ffffff;
    --cor-texto:#720097;
    --cor-contraste:#f9f9f9;
    --cor-contraste:#ffffff;
    --cor-botao:#eaeaea;
}


body{
    max-width: 100vw;
}

header {
    background-color: var(--cor-primária);
    color: var(--cor-contraste);
    text-align: center;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    margin: 0 auto;
    padding: 16px;
    display:flex;
    flex-wrap: wrap;
}
article{
    display: flex;

    border: 1px solid var(--cor-primária);

    margin: 10px;
    gap: 10px;
    padding: 30px;

    flex: 1 1 30%;

    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

img {
    width: 90px;
    height: 90px;
}

.artigo-autor {
    font-weight: bold;
}